@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.primary-btn{
    padding: 14px 25px;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    color: #ffffff;
}
/* container for all sections */
.container{
    width: 1140px;
    margin: auto;
}
/* banner section styles code start */
.banner{
    background-color: rgba(229, 84, 115, 0.10);
}
.banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("../assets/pngwing 10.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 515px;
    
}
.banner-wrapper .banner-content{
    padding: 140px 0;
}
.banner-wrapper .banner-content .banner-title{
    font-size: 62px;
    font-weight: 900;
    color: #272727;
    /* font-style: normal; */
    line-height: 75px;
}
.banner-wrapper .banner-content .banner-desc{
    color: rgba(39, 39, 39, 0.75);
    font-size: 15px;
    margin: 30px 0;
    line-height: 25px;
    width: 43%;
}




/* banner section styles code end */





















